body {
    margin: 0;
    overflow-x: hidden;
}

.overlay {
    width: 100%;
    height: 100vh;
}

.content-one {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./images/netflix\ inner\ template.jpg");
    background-size: cover;
}

.netflix-logo {
    margin-left: 40px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.both {
    display: flex;
}

.flixia-logo {
    display: flex;
    align-items: center;
}

.divine {
    margin-left: 20px; 
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    text-align: center; 
    color: #111;
}
.divine::before{
    content: attr(data-text);
    color: orange;
    position: absolute;
    width: 20px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    animation: animate 4s linear infinite;
    filter: drop-shadow(0 0 80px orange) drop-shadow(0 0 18px orange);
}
@keyframes animate {
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 14%;
    }
}

.flixia-logo img {
    width: 100px;
}

.english {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #AAAAAA;
    border-radius: 6px;
    box-sizing: border-box;
    margin-right: 50px;
    width: 90px;
}

.english img {
    width: 20px;
    height: 20px;
}

#text {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

#sign-in {
    background: orange;
    border-radius: 3px;
    margin-right: 70px;
    width: 90px;
    border-radius: 6px;
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

#sign-in:hover {
    background: transparent;
}

.write-up {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.unlimited {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    height: 90px;
}

.watch {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    color: orange;
}

.membership {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.mail {
    background: #FFFFFF;
    border: 1px solid #8C8C8C;
    border-radius: 2px 0px 0px 2px;
    width: 300px;
    height: 40px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.input {
    background: rgb(212, 153, 44);
}

.get {
    background: rgb(212, 153, 44);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.45);
    border-radius: 0px 2px 2px 0px;
    width: 150px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#started {
    background: rgb(212, 153, 44);
    border: 1px solid rgb(212, 153, 44);
}

.vector {
    margin-left: 12px;
}

hr {
    background: #222222;
    margin: 0;
}

.content-two {
    background: #000000;
    margin: 0;
}

.overview {
    display: flex;
    justify-content: space-around;
}

.enjoy {
    width: 450px;
    padding: 130px;
}

.joy {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.01em;
    color: rgb(212, 153, 44);
    margin: 0;
}

.tvs {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    color: #FFFFFF;
}

.content-three {
    background: #000000;
    display: flex;
    justify-content: space-around;
}

.writeup-two {
    padding-top: 40px;
}

.offline {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.01em;
    color: rgb(212, 153, 44);
}

.favorite {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    color: #FFFFFF;
}

.content-four {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.everywhere {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.01em;
    color: rgb(212, 153, 44);
    margin: 0;
}

.stream {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    color: #FFFFFF;
}

.content-five {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.01em;
    color: rgb(212, 153, 44);
}

.adventure {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    color: #FFFFFF;
}

.content-six {
    background: #282828;
}

.ana {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin-left: 40px;
}

.diziler {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #E5E5E5;
    margin-left: 10px;
}

.nav-two {
    display: flex;
    justify-content: space-between;
}

.flixia {
    display: flex;
    margin-left: 30px;
}

.flix {
    width: 100px;
    height: 30px;
    margin-top: 7px;
}

.text-content {
    display: flex;
}

.icon {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    margin-right: 10px;
}


.sub-icon {
    color: white;
    margin-right: 10px;
}

.sub-icon:hover {
    color: rgb(212, 153, 44);
}

.kal-content {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("./images/MoviePoster.png");
    background-size: cover;
}

.kal {
    padding-top: 150px;
    padding-left: 60px;
}

.movie img{
    transition: all 2s ease 0s;
} 

.film-one img{
    transition: 4s;
}

.film-one img:hover {
    transform: scale(1.1);
    border: 2px solid pink;
}


.film-two img{
    transition: 4s;
}

.film-two img:hover {
    transform: scale(1.1);
    border: 2px solid pink;
}

.film-three img{
    transition: 4s;
}

.film-three img:hover {
    transform: scale(1.1);
    border: 2px solid pink;
}

.film-four img{
    transition: 4s;
}

.film-four img:hover {
    transform: scale(1.1);
    border: 2px solid pink;
}

.film-five img{
    transition: 4s;
}

.film-five img:hover {
    transform: scale(1.1);
    border: 2px solid pink;
}

.film-six img{
    transition: 4s;
}

.film-six img:hover {
    transform: scale(1.1);
    border: 2px solid pink;
}

.play {
    display: flex;
}

.top {
    display: flex;
    align-items: center;
}

.numara {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: rgb(212, 153, 44);
    margin-left: 15px;
}

.french {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    color: #FFFFFF;
}

.oynat {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(212, 153, 44);
    border-radius: 4px;
    width: 140px;
}

.nat {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #141414;
    margin-left: 10px;
}

.daha {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-left: 30px;
    width: 200px;
}

.dilgi {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 10px;
}

.populer {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;
    color: rgb(212, 153, 44);
}

/* .film-one {
    display: flex;
} */

.kemal {
    padding-left: 60px;
}

.devam {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;
    color: rgb(212, 153, 44);
}

.movie {
    display: flex;
    justify-content: space-around;
}

.movie-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.film-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.film-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leri {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;
    color: rgb(212, 153, 44);
}

.original {
    padding-left: 60px;
}

.film-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {
    padding-left: 60px;
}

.film-four {
    display: flex;
    align-items: center;
    justify-content: end;
}

.bugunun {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;
    color: rgb(212, 153, 44);
}

.izle {
    padding-left: 60px;
}

.yeniden {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;
    color: rgb(212, 153, 44);
}

.film-five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.em {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;
    color: rgb(212, 153, 44);
    padding-left: 60px;
}

.film-six {
    display: flex;
    justify-content: end;
}

/* .film-two {
    display: flex;
}  */


.content {
    background: #000000;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frequently {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.01em;
    color: rgb(212, 153, 44);
    margin: 0;
}

.netflix-all {
    padding-top: 30px;
}

.netflix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #303030;
    border-radius: 0px;
    width: 650px;
    height: 70px;
    margin-top: 18px;
}

.netflix img {
    margin-right: 15px;
}

.been-asked {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    color: #FFFFFF;
    margin-left: 15px;
}

.footer {
    background: #141414;
}

.social {
    margin-top: 20px;
    color: rgb(212, 153, 44);
}

.writeup-footer {
    display: flex;
    flex-direction: column;
}

.alt {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #808080;
}

.met {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: rgb(212, 153, 44);
    border: 2px solid rgb(212, 153, 44);
    width: 80px;
    text-align: center;
}

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divide {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    background: rgb(212, 153, 44) 
}

@media (max-width: 320px) {
    .both {
        display: flex;
        flex-direction: column;
    }

    .english {
        margin-right: 0;
        width: inherit;
    }

    #sign-in {
        margin-right: 0;
        width: inherit;
    }

    .image-one img {
        width: 300px;
    }

    .icon {
        display: block;
        margin-top: 20px;
        margin-right: 0;
    }

    .dilgi {
        font-size: 15px;
    }

    .oynat {
        height: 50px;
    }
}

@media (max-width: 425px) {
    body{
        margin: 0;
    }

    .divine {
        display: none;
    }

    #sign-in {
        margin-right: 0;
    }

    .unlimited {
        height: inherit;
    }

    form {
        margin-left: 0;
        padding: 7px;
    }

    .overview {
        display: flex;
        flex-direction: column;
    } 
    .enjoy {
        padding: 0;
        width: inherit;
    }

    .image-one img {
        width: 300px;
        margin-left: 20px;
    }
    
    .joy {
        text-align: center;
        font-size: 40px;
    }

    .tvs {
        text-align: center;
        font-size: 18px;
    }

    .content-three {
        display: flex;
        flex-direction: column-reverse;
    }

    .offline {
        text-align: center;
        font-size: 40px;
    }

    .favorite {
        line-height: 25px;
        text-align: center;
        font-size: 20px;
    }

    .image-two img {
        width: 300px;
        margin-left: 20px;
    }

    .content-four {
        display: flex;
        flex-direction: column;
    }

    .everywhere {
        text-align: center;
        font-size: 40px;
    }

    .stream {
        text-align: center;
        line-height: 25px;
        font-size: 20px;
    }

    .image-three img {
        width: 300px;
    }

    .content-five {
        display: flex;
        flex-direction: column-reverse;
    }

    .profile {
        text-align: center;
        font-size: 40px;
    }

    .adventure {
        text-align: center;
        line-height: 25px;
        font-size: 20px;
    }

    .image-four img {
        width: 300px;
    }

    .nav-two {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flixia {
        display: flex;
        flex-direction: column;
    }

    .icon {
        margin-bottom: 50px;
    }

    .ana {
        margin-left: 10px;
    }

    .kal {
        padding-left: 0;
    }

    .mda {
        width: 300px;
        margin-left: 20px;
    }

    .top {
        margin-left: 20px;
    }

    .french {
        text-align: center;
    }

    .play {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .populer {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }

    .movie {
        display: flex;
        flex-direction: column;
    }

    .movie-two {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .devam {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }

    .kemal {
        padding-left: 0;
    }

    .original {
        padding-left: 0;
    }

    .leri {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }

    .anne {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tribes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .film-four {
        display: flex;
        flex-direction: column;
    }

    .bugunun {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }

    .list {
        padding-left: 0;
    }

    .film-four {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .izle {
        padding-left: 0;
    }

    .yeniden {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }

    .mother {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .murder {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .film-six {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .em {
        padding-left: 0;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
    }

    .netflix-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .netflix {
        width: 300px;
    }

    .get {
        width: 100px;
    }

    .frequently {
        text-align: center;
        font-size: 40px;
    }

    .mail
     {
        width: 200px;
     }

     .sub-icon {
        margin-right: 2px;
     }

     .writeup-footer {
        display: flex;
        flex-direction: column;
     }

     .social-icon {
        display: flex;
        align-items: center;
        justify-content: center;
     }

     .divide {
        display: flex;
        justify-content: space-around;
     }

     .merge {
        margin-top: 15px;
     }
}

@media(max-width: 768px) {
    .unlimited {
        height: inherit;
    }

    .divine {
        display: none;
    }

    .overview {
        display: flex;
        flex-direction: column;
    }

    .content-three {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .content-four {
        display: flex;
        flex-direction: column;
    }

    .content-five {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: cent
    }

    .movie {
        display: flex;
        flex-direction: column;
    }

    .movie-two {
        display: flex;
        flex-direction: column;
    }

    .anne {
        display: flex;
        flex-direction: column;
    }

    .tribes {
        display: flex;
        flex-direction: column;
    }

    .film-four {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mother {
        display: flex;
        flex-direction: column;
    }

    .murder {
        display: flex;
        flex-direction: column;
    }

    .film-six {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .merge {
        margin-top: 20px;
    }

    .populer {
        font-size: 40px;
        font-weight: 700;
        margin-left: 30px;
    }

    .kal {
        padding-left: 0;
    }

    .mda {
        margin-left: 30px;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .french {
        text-align: center;
    }

    .play {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .kemal {
        padding-left: 0;
    }

    .devam {
        font-size: 40px;
        font-weight: 700;
        margin-left: 30px;
    }

    .leri {
        font-size: 40px;
        font-weight: 700;
        margin-left: 30px;
    }

    .original {
        padding-left: 0;
    }

    .list {
        padding-left: 0;
    }

    .bugunun {
        font-size: 40px;
        font-weight: 700;
        margin-left: 30px;
    }

    .izle {
        padding-left: 0;
    }

    .yeniden {
        font-size: 40px;
        font-weight: 700;
        margin-left: 30px;
    }

    .em {
        font-size: 40px;
        font-weight: 700;
        margin-left: 30px;
    }
}